@media only screen and (max-width: 375px) {
  body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit';
  }

  .container {
    height: 35rem;
    width: 20rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .equilibrium {
    height: 18rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  .info {
    padding: 1rem;
  }

  .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18rem;
    margin-top: -1.8rem;
  }
  h2 {
    color: white;
  }
  p {
    color: hsl(215, 51%, 70%);
  }

  h4 {
    color: hsl(178, 100%, 50%);
    padding-left: 0.5rem;
  }
  h3 {
    padding-left: 0.5rem;
    color: aliceblue;
  }

  .stanga {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dreapta {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dreapta p {
    padding-left: 0.5rem;
  }

  .hrline {
    width: 18rem;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
  }

  .about {
    display: flex;
    padding-left: 70px;
    padding-top: 0.5rem;
    align-items: center;
  }

  .about img {
    height: 2.5rem;
    border-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: -7.5rem;
    margin-right: 1rem;
  }
  .about span {
    font-size: 16px;
    color: white;
  }
  .attribution {
    margin-top: 1rem;
    color: white;
  }
}
@media only screen and (max-width: 1440px) {
  body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit';
  }

  .container {
    height: 35rem;
    width: 20rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .equilibrium {
    height: 18rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  .info {
    padding: 1rem;
  }

  .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18rem;
    margin-top: -1.8rem;
  }
  h2 {
    color: white;
  }
  p {
    color: hsl(215, 51%, 70%);
  }

  h4 {
    color: hsl(178, 100%, 50%);
    padding-left: 0.5rem;
  }
  h3 {
    padding-left: 0.5rem;
    color: aliceblue;
  }

  .stanga {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dreapta {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dreapta p {
    padding-left: 0.5rem;
  }

  .hrline {
    width: 18rem;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
  }

  .about {
    display: flex;
    padding-left: 70px;
    padding-top: 0.5rem;
    align-items: center;
  }

  .about img {
    height: 2.5rem;
    border-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: -7.5rem;
    margin-right: 1rem;
  }
  .about span {
    font-size: 16px;
    color: white;
  }
  .attribution {
    margin-top: 1rem;
    color: white;
  }
}
